@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #292929;
    font-family: "Poppins", sans-serif;
    justify-content: center !important;
    align-items: center !important;
    color: #B2B2B2;
}

h1 {
    color: #000000;
    font-weight: 900;
    font-size: 75px;
}

button, button:focus
{
    outline: none;
    border: none;
}

input {
    background-color: transparent;
    border: none;
    max-height: 100px;
    min-height: 75px;
    padding: 25px;
    color: #B2B2B2;
    width: 100%;
}

input::placeholder {
    color: #B2B2B2;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
    opacity: 0.7;
}

input:focus {
    outline: none;
}

#bar {
    background-color: #E6B800;
    box-shadow: 0px 12px 25px 7px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row
{
    align-items: center;
    justify-content: center;
}

.input
{
    position: fixed;
    bottom: 0;
    max-height: 100px;
    min-height: 75px;
    width: 100%;
    background-color: #555555;
}

.friendname {
    color: #000000;
    font-weight: 900;
    font-size: 35px;
}

.date {
    color: #000000;
    font-weight: 900;
    font-size: 35px;
}

.msgs {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: auto;
    height: 69vh;
    overflow-y: auto;
}

.send
{
    position: absolute;
    right: 0;
    margin-top: 12px;
    margin-right: 24px;
    height: 50px;
    width: 50px;
    background-color: #E6B800;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.fa-location-arrow
{
    position: absolute;
    right: 12px;
    bottom: 8px;
    font-size: 29px;
    color: #FFFFFF;
}

.send:hover
{
    background-color: #C09B07;
    transform: scale(1.15);
}