<!DOCTYPE html>
<html lang="en">

<head>

    <title>Scord</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:url" content="https://scord.ml">
    <meta property="og:title" content="Scord | Your trustful little beep boop friend.">
    <meta property="og:site_name" content="Scord">
    <meta property="og:description" content="Scord - An Artificial Intelligence chat bot that will be your best friend!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://media.discordapp.net/attachments/830096916977025124/838792714979770418/SPOILER_Logo.png">
    <meta name="theme-color" content="#f77c00">
    <meta keywords="scord, SCORD, chatbot, ai, AI, chatBot, ChatBot, Chatbot, chat, bot">

    <link rel="shortcut icon" href="img/Scord.svg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/0b27ad356b.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>

        <nav class="navbar navbar-dark navbar-expand-md">

            <a class="navbar-brand mr-10 nav-link disabled" href="#">

                <img src="img/Scord.svg" width="75" height="75" class="d-inline-block d-md-none d-lg-inline-block mr-2 align-bottom" alt=" ">

                <p class="align-bottom d-none d-md-inline-block"> SCORD </p>
            
            </a>

            <button class="navbar-toggler clickable" type="button" data-toggle="collapse" data-target="#mainmenu">

				<span class="navbar-toggler-icon"></span>

			</button>

            <div class="collapse navbar-collapse" id="mainmenu">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        
                        <a class="nav-link anim" href="/invite"> Invite Bot </a>
                    
                    </li>

                    <li class="nav-item">

                        <a class="nav-link anim" href="/support"> Support </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link anim" href="/premium"> Scord Premium </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link anim" href="/login"> Log In </a>

                    </li>
                
                </ul>

            </div>

        </nav>

    </header>

    <main>

        <div class="container">

            <div class="box">

                <div class="row">

                    <div class="col-12 col-md-6 d-inline-block" id="left">

                        <div id="innerBox">

                            <div id="text">

                                <h3>SCORD</h3>
    
                                <h1 class="txt">An <p class="wht">Artificial Intelligence</p> chat bot that will be your best friend!</h1>
    
                            </div>
    
                            <div id="button">
    
                                <a id="inner" href="/faq">
    
                                    Read more
    
                                    <div id="arrowBox">
    
                                        <i id="arrow" class="fas fa-arrow-right"></i>
    
                                    </div>
        
                                </a>
    
                            </div>

                        </div>  

                    </div>

                    <div class="col-6 d-none d-md-inline-block" id="right">

                        <img id="botAvatar" src="img/Scord.svg" alt=" ">

                    </div>

                </div>

            </div>

        </div>

    </main>

    <!-- <main>

        <div class="container">

            <div id="box">

                <div class="row">

                    <h1 class="col-12 d-inline d-lg-none mb-3 underline">Scord</h1>

                    <img class="col-12 col-lg-4 d-none d-lg-inline mt-md-5 mt-lg-0" id="botAvatar" src="/img/Scord.svg" alt="Scord Logo">

                    <div class="col-12 col-lg-8 align-items-center mt-lg-4" id="infooo">

                        <h3>Description</h3>
                        </br>
                        <p id="description"><strong>Scord</strong> is An Artificial Intelligence chat bot that will be your best friend!</p>

                    </div>

                    <div class="col-12" id="button">

                        <a href="https://discord.com/api/oauth2/authorize?client_id=839800288948781066&permissions=10256&scope=bot" id="btn">
                        
                            <i class="fab fa-discord"></i> Invite Scord
                        
                        </a>

                        <a href="" id="btn">

                            <i class="fas fa-ticket-alt"></i> Support Server

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </main> -->

    <script src="js/theme.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>